<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible;Content-Type" content="IE=edge;text/html" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0" />
    <meta name="copyright" content="Copyright &copy; Boookworm, all rights reserved." />
    <meta name="description" content="Boookworm is a Node/Express library API to browse and discover new books." />

    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/d615c7f566.js" crossorigin="anonymous"></script>

    <link rel="stylesheet" type="text/css" href="css/normalize.css" />
    <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="css/main.css" />

    <title>Boookworm &mdash; <%= title %></title>
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon" />
    <link rel="apple-touch-icon" href="apple-touch-icon.png" type="image/x-icon" />
    <link rel="icon" href="android-chrome-192x192.png" type="image/x-icon" />
    <!-- HTML5Shiv and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]
        <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
        <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>