/*------------------------------------------------------------------
[1. Variables]
*/
/*-------------------------------
// Colors //
*/
$bw-color-white: #FFFFFF;
$bw-color-lightGrey: #EDEDED;
$bw-color-grey: #B2B2B2;
$bw-color-darkGrey: #828282;
$bw-color-orange: #FF934F;
$bw-color-blue: #3F88C5;
$bw-color-darkBlue: #101D42;
$bw-color-black: #0D1317;

:root {
    --bw-color-white: #FFFFFF;
    --bw-color-lightGrey: #EDEDED;
    --bw-color-grey: #B2B2B2;
    --bw-color-darkGrey: #828282;
    --bw-color-orange: #FF934F;
    --bw-color-blue: #3F88C5;
    --bw-color-darkBlue: #101D42;
    --bw-color-black: #0D1317;
}